(
	{title = 'adminAfterBlogCreate';},
	{title = 'adminAfterBlogUpdate';},
	{title = 'adminAfterCategoryCreate';},
	{title = 'adminAfterCategoryUpdate';},
	{title = 'adminAfterCommentCreate';},
	{title = 'adminAfterCommentDesc';},
	{title = 'adminAfterCommentUpdate';},
	{title = 'adminAfterPageCreate';},
	{title = 'adminAfterPageUpdate';},
	{title = 'adminAfterPostCreate';},
	{title = 'adminAfterPostUpdate';},
	{title = 'adminAfterUserCreate';},
	{title = 'adminAfterUserUpdate';},
	{title = 'adminBeforeBlogCreate';},
	{title = 'adminBeforeBlogSettingsUpdate';},
	{title = 'adminBeforeBlogUpdate';},
	{title = 'adminBeforeCategoryCreate';},
	{title = 'adminBeforeCategoryUpdate';},
	{title = 'adminBeforeCommentCreate';},
	{title = 'adminBeforeCommentUpdate';},
	{title = 'adminBeforePageCreate';},
	{title = 'adminBeforePageDelete';},
	{title = 'adminBeforePageUpdate';},
	{title = 'adminBeforePostCreate';},
	{title = 'adminBeforePostDelete';},
	{title = 'adminBeforePostUpdate';},
	{title = 'adminBeforeUserCreate';},
	{title = 'adminBeforeUserDelete';},
	{title = 'adminBeforeUserUpdate';},
	{title = 'adminBlogPreferencesForm';},
	{title = 'adminBlogPreferencesHeaders';},
	{title = 'adminCommentsHeaders';},
	{title = 'adminCurrentThemeDetails';},
	{title = 'adminDashboardHeaders';},
	{title = 'adminPageForm';},
	{title = 'adminPageFormSidebar';},
	{title = 'adminPageHTMLHead';},
	{title = 'adminPageHeaders';},
	{title = 'adminPageNavLinks';},
	{title = 'adminPagesActionsCombo';},
	{title = 'adminPostForm';},
	{title = 'adminPostFormSidebar';},
	{title = 'adminPostHeaders';},
	{title = 'adminPostNavLinks';},
	{title = 'adminPostsActions';},
	{title = 'adminPostsActionsCombo';},
	{title = 'adminPostsActionsContent';},
	{title = 'adminPreferencesForm';},
	{title = 'adminPreferencesHeaders';},
	{title = 'adminUserForm';},
	{title = 'adminUserHeaders';},
	{title = 'coreAfterCommentCreate';},
	{title = 'coreAfterCommentUpdate';},
	{title = 'coreAfterPostContentFormat';},
	{title = 'coreBeforeCommentCreate';},
	{title = 'coreBeforeCommentUpdate';},
	{title = 'coreBlogAfterTriggerBlog';},
	{title = 'coreBlogConstruct';},
	{title = 'coreBlogGetComments';},
	{title = 'coreBlogGetPosts';},
	{title = 'coreInitWikiComment';},
	{title = 'coreInitWikiSimpleComment';},
	{title = 'corePostSearch';},
	{title = 'coreWikiPostInit';},
	{title = 'exportFull';},
	{title = 'exportSingle';},
	{title = 'importExportModules';},
	{title = 'importFull';},
	{title = 'importInit';},
	{title = 'importPrepareDC12';},
	{title = 'importSingle';},
	{title = 'initDefaultWidgets';},
	{title = 'initWidgets';},
	{title = 'loginPageHTMLHead';},
	{title = 'pluginAfterDelete';},
	{title = 'pluginBeforeDelete';},
	{title = 'pluginsToolsTabs';},
	{title = 'publicAfterCommentCreate';},
	{title = 'publicAfterContentFilter';},
	{title = 'publicAfterDocument';},
	{title = 'publicAfterTrackbackCreate';},
	{title = 'publicBeforeCommentCreate';},
	{title = 'publicBeforeCommentPreview';},
	{title = 'publicBeforeContentFilter';},
	{title = 'publicBeforeDocument';},
	{title = 'publicBeforeTrackbackCreate';},
	{title = 'publicCommentAfterContent';},
	{title = 'publicCommentBeforeContent';},
	{title = 'publicCommentFormAfterContent';},
	{title = 'publicCommentFormBeforeContent';},
	{title = 'publicEntryAfterContent';},
	{title = 'publicEntryBeforeContent';},
	{title = 'publicPingAfterContent';},
	{title = 'publicPingBeforeContent';},
	{title = 'publicPrepend';},
	{title = 'publicTopAfterContent';},
	{title = 'templateAfterBlock';},
	{title = 'templateAfterValue';},
	{title = 'templateBeforeBlock';},
	{title = 'templateBeforeValue';},
	{title = 'themeAfterDelete';},
	{title = 'themeBeforeDelete';},
	{title = 'tplAfterData';},
	{title = 'tplBeforeData';},
	{title = 'urlHandlerServeDocument';},
	{title = 'xmlrpcAfterEditPost';},
	{title = 'xmlrpcAfterNewPost';},
	{title = 'xmlrpcAfterPublishPost';},
	{title = 'xmlrpcBeforeEditPost';},
	{title = 'xmlrpcBeforeNewPost';},
	{title = 'xmlrpcBeforePublishPost';},
	{title = 'xmlrpcGetPageInfo';},
	{title = 'xmlrpcGetPostInfo';}
)