(
	{display = 'ArchiveNext';},
	{display = 'ArchivePrevious';},
	{display = 'Archives';},
	{display = 'ArchivesYearFooter';},
	{display = 'ArchivesYearHeader';},
	{display = 'AttachmentIf';},
	{display = 'Attachments';},
	{display = 'AttachmentsFooter';},
	{display = 'AttachmentsHeader';},
	{display = 'Categories';},
	{display = 'CategoriesFooter';},
	{display = 'CategoriesHeader';},
	{display = 'CategoryFirstChildren';},
	{display = 'CategoryIf';},
	{display = 'CategoryParents';},
	{display = 'Comments';},
	{display = 'CommentsFooter';},
	{display = 'CommentsHeader';},
	{display = 'DateHeader';},
	{display = 'Entries';},
	{display = 'EntriesFooter';},
	{display = 'EntriesHeader';},
	{display = 'EntryIf';},
	{display = 'EntryMetaData';},
	{display = 'EntryNext';},
	{display = 'EntryPrevious';},
	{display = 'IfCommentPreview';},
	{display = 'MetaData';},
	{display = 'MetaDataFooter';},
	{display = 'MetaDataHeader';},
	{display = 'Pagination';},
	{display = 'PaginationIf';},
	{display = 'Pings';},
	{display = 'PingsFooter';},
	{display = 'PingsHeader';},
	{display = 'SysIf';},
	{display = 'SysIfCommentPending';},
	{display = 'SysIfCommentPublished';},
	{display = 'SysIfFormError';}
)