(
	{display = 'CLEARBRICKS_PATH';},
	{display = 'CLEARBRICKS_VERSION';},
	{display = 'CLI_MODE';},
	{display = 'DC_ADMIN_SSL';},
	{display = 'DC_ADMIN_URL';},
	{display = 'DC_ANTISPAM_CONF_SUPER';},
	{display = 'DC_AUTH_PAGE';},
	{display = 'DC_AUTH_SESS_ID';},
	{display = 'DC_AUTH_SESS_UID';},
	{display = 'DC_BLOG_ID';},
	{display = 'DC_CONTEXT_ADMIN';},
	{display = 'DC_DBDRIVER';},
	{display = 'DC_DBHOST';},
	{display = 'DC_DBNAME';},
	{display = 'DC_DBPASSWORD';},
	{display = 'DC_DBPERSIST';},
	{display = 'DC_DBPREFIX';},
	{display = 'DC_DBUSER';},
	{display = 'DC_DEBUG';},
	{display = 'DC_FAIRTRACKBACKS_FORCE';},
	{display = 'DC_L10N_UPDATE_URL';},
	{display = 'DC_MASTER_KEY';},
	{display = 'DC_MAX_UPLOAD_SIZE';},
	{display = 'DC_RC_PATH';},
	{display = 'DC_SESSION_NAME';},
	{display = 'DC_UPDATE_URL';},
	{display = 'DC_UPDATE_VERSION';},
	{display = 'DC_VENDOR_NAME';},
	{display = 'DC_VERSION';},
	{display = 'DC_XMLRPC_URL';}
)