(
	{display = 'ArchiveDate';},
	{display = 'ArchiveEntriesCount';},
	{display = 'ArchiveURL';},
	{display = 'AttachmentFileName';},
	{display = 'AttachmentSize';},
	{display = 'AttachmentTitle';},
	{display = 'AttachmentType';},
	{display = 'AttachmentURL';},
	{display = 'BlogArchiveURL';},
	{display = 'BlogCopyrightNotice';},
	{display = 'BlogDescription';},
	{display = 'BlogEditor';},
	{display = 'BlogFeedURL';},
	{display = 'BlogLanguage';},
	{display = 'BlogMetaRobots';},
	{display = 'BlogName';},
	{display = 'BlogQmarkURL';},
	{display = 'BlogRSDURL';},
	{display = 'BlogThemeURL';},
	{display = 'BlogURL';},
	{display = 'BlogUpdateDate';},
	{display = 'BlogrollXbelLink';},
	{display = 'CategoryDescription';},
	{display = 'CategoryFeedURL';},
	{display = 'CategoryTitle';},
	{display = 'CategoryURL';},
	{display = 'CommentAuthorLink';},
	{display = 'CommentContent';},
	{display = 'CommentDate';},
	{display = 'CommentID';},
	{display = 'CommentIfFirst';},
	{display = 'CommentIfMe';},
	{display = 'CommentIfOdd';},
	{display = 'CommentOrderNumber';},
	{display = 'CommentPreviewContent';},
	{display = 'CommentPreviewEmail';},
	{display = 'CommentPreviewName';},
	{display = 'CommentPreviewSite';},
	{display = 'CommentTime';},
	{display = 'EntryAttachmentCount';},
	{display = 'EntryAuthorCommonName';},
	{display = 'EntryAuthorLink';},
	{display = 'EntryCategory';},
	{display = 'EntryCategoryURL';},
	{display = 'EntryCommentCount';},
	{display = 'EntryContent';},
	{display = 'EntryDate';},
	{display = 'EntryExcerpt';},
	{display = 'EntryID';},
	{display = 'EntryIfFirst';},
	{display = 'EntryIfOdd';},
	{display = 'EntryLang';},
	{display = 'EntryPingCount';},
	{display = 'EntryPingData';},
	{display = 'EntryPingLink';},
	{display = 'EntryTime';},
	{display = 'EntryTitle';},
	{display = 'EntryURL';},
	{display = 'MediaURL';},
	{display = 'MetaID';},
	{display = 'MetaRoundPercent';},
	{display = 'MetaURL';},
	{display = 'PaginationCounter';},
	{display = 'PaginationCurrent';},
	{display = 'PaginationURL';},
	{display = 'PingAuthorURL';},
	{display = 'PingBlogName';},
	{display = 'PingContent';},
	{display = 'PingDate';},
	{display = 'PingID';},
	{display = 'PingIfFirst';},
	{display = 'PingIfOdd';},
	{display = 'PingNoFollow';},
	{display = 'PingOrderNumber';},
	{display = 'PingTime';},
	{display = 'PingTitle';},
	{display = 'SysBehavior';},
	{display = 'SysFormError';},
	{display = 'SysPoweredBy';},
	{display = 'SysSearchString';},
	{display = 'TagFeedURL';},
	{display = 'Widgets';},
	{display = 'include';},
	{display = 'lang';}
)