html{
	
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Page
------------------------------------------------------------------------------*/
#page{
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

/* Header
------------------------------------------------------------------------------*/
#top{
	height: 70px;
	line-height: 70px;
}

/* Prelude
------------------------------------------------------------------------------*/	
#prelude{
	position: absolute;
	top: -100em;
}

/* Blocks
------------------------------------------------------------------------------*/
#wrapper{

}

#main{
	margin: 1em auto 0 auto;
}

#content{
	float: left;
	width: 460px;
	padding: 0 20px;
}

/* Posts
------------------------------------------------------------------------------*/
.post{
	
}

/* Comments & trackbacks
------------------------------------------------------------------------------*/
#comments{
	
}

#trackbacks{
	
}

/* Pagination
------------------------------------------------------------------------------*/	
.pagination{

}

/* Sidebar
------------------------------------------------------------------------------*/
#sidebar{
	float: right;
	width: 260px;
	padding: 0 20px;
}

	#sidebar ul{
		margin: 1em 0;
		padding: 0;
	}

	#sidebar #blognav{
		
	}
	
	#sidebar #blogextra{
		
	}

/* Footer
------------------------------------------------------------------------------*/
#footer{
	clear: both;
}

	#footer p{
		
	}