/* This file is part of Dotclear
 * Author : Laurence Jacquet (laurence.jacquet@gmail.com)
 * Contributor(s): Maurice Svay (maurice@svay.com)
 * License : http://creativecommons.org/licenses/by-nc-sa/2.0/fr/
 */

html{
	
}

body{
    margin: 0;
	padding: 0;
	text-align: center;
}

/* Page
------------------------------------------------------------------------------*/
#page{
	width: 683px;
	margin: 20px auto 0 auto;
	text-align: left;
	position: relative;
}

/* Header
------------------------------------------------------------------------------*/
#top{
	height: 131px;
}

/* Prelude
------------------------------------------------------------------------------*/	
#prelude{
    position: absolute;
	top: -10em;
}

/* Blocks
------------------------------------------------------------------------------*/
#wrapper{

}

#main{

}

#content{
    float: right;
	display: inline;
	width: 510px;
}

/* Posts
------------------------------------------------------------------------------*/
.post{
	padding: 10px;
	margin: 1em 0;
}

/* Comments & trackbacks
------------------------------------------------------------------------------*/
#comments{
	
}

#trackbacks{
	
}

/* Pagination
------------------------------------------------------------------------------*/	
.pagination{
	
}

/* Sidebar
------------------------------------------------------------------------------*/
#sidebar{
	float: left;
	width: 145px;
	padding: 0 0 0 20px;
}

    #sidebar ul{
		margin: 1em 0;
		padding: 0;
	}

	#sidebar #blognav{
		
	}
	
	#sidebar #blogextra{
		
	}

/* Footer
------------------------------------------------------------------------------*/
#footer{
	clear: both;
	text-align: center;	
}

    #footer p{
        margin: 0;
        padding: 10px;
    }