html{
	
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Page
------------------------------------------------------------------------------*/
#page{
	width: 580px;
	margin: 0 auto;
	text-align: left;
}

/* Header
------------------------------------------------------------------------------*/
#top{
	width: 400px;
	height: 100px;
}

/* Prelude
------------------------------------------------------------------------------*/	
#prelude{
	position: absolute;
	top: -10em;
}

/* Blocks
------------------------------------------------------------------------------*/
#wrapper{

}

#main{

}

#content{
	float: left;
	display: inline;
	width: 360px;
	padding: 0 20px;
}

/* Posts
------------------------------------------------------------------------------*/
.post{
	
}

/* Comments & trackbacks
------------------------------------------------------------------------------*/
#comments{
	
}

#trackbacks{
	
}

/* Pagination
------------------------------------------------------------------------------*/	
.pagination{
	
}

/* Sidebar
------------------------------------------------------------------------------*/
#sidebar{
	float: right;
	width: 140px;
	padding: 10px;
}

	#sidebar #blognav{
		
	}
	
	#sidebar #blogextra{
		
	}

	#sidebar ul{
		margin: 1em 0;
		padding: 0;
	}

/* Footer
------------------------------------------------------------------------------*/
#footer{
	width: 400px;
	clear: both;
	margin: 0;
	padding: 10px 0;
}

	#footer p{
		
	}