html{
	
}

body{
	margin: 0;
	padding: 0;
	text-align: right;
}

/* Page
------------------------------------------------------------------------------*/
#page{
	width: 800px;
	margin: auto 0 auto auto;
	text-align: left;
}

/* Header
------------------------------------------------------------------------------*/
#top{
	height: 120px;
}

/* Prelude
------------------------------------------------------------------------------*/	
#prelude{
	position: absolute;
	top: -10em;
}

/* Blocks
------------------------------------------------------------------------------*/
#wrapper{

}

#main{

}

#content{
	float: left;
	display: inline;
	width: 540px;
	padding: 0 0 0 20px;
	margin: 0;
}

/* Posts
------------------------------------------------------------------------------*/
.post{
	
}

/* Comments & trackbacks
------------------------------------------------------------------------------*/
#comments{
	
}

#trackbacks{
	
}

/* Pagination
------------------------------------------------------------------------------*/	
.pagination{

}

/* Sidebar
------------------------------------------------------------------------------*/
#sidebar{
	float: right;
	width: 200px;
	padding: 0 20px;
	margin: 0;
}

	#sidebar ul{
		margin: 1em 0;
		padding: 0 0 0 2em;
	}

	#sidebar #blognav{
		
	}
	
	#sidebar #blogextra{
		
	}

/* Footer
------------------------------------------------------------------------------*/
#footer{
	clear: both;
	clear: both;
	padding: 1ex 1em;
	margin: 0;	
}

	#footer p{
		
	}