Source: libdotclear-plugin-emailnotification
Section: web
Priority: optional
Maintainer: Olivier Meunier <olivier@dotclear.net>
Build-Depends: debhelper (>= 4.0.0), php5-cli
Standards-Version: 3.6.1

Package: libdotclear-plugin-emailnotification
Architecture: all
Depends: ${misc:Depends}, dotclear
Description: Dotclear Email Notification Module 
 DotClear is a bloging tool.
 .
 Notice the author of an entry of every new comment.

